$body-bg: #f3f3f3;
$body-color: #2c3e50;

$link-color: #17a2b8;
$link-hover-decoration: none;

$headings-font-family: 'Rubik Mono One', sans-serif;

$border-radius-lg: 1rem;

$input-btn-focus-box-shadow: none;
